# IDE
.idea/
*.iml
.vscode/

# Build
target/
build/
.gradle/
*.jar
*.war
*.apk
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Config
client/app/src/main/assets/server_config.properties
client/app/src/main/res/xml